/**
 * Novo SGA - Scheduling
 * @author Rogerio Lino <rogeriolino@gmail.com>
 */
body>section {
    padding: 20px 10px;
}

p.links {
    padding-top: 20px;
    text-align: center;
    clear: both;
}

p.links a {
    margin: 0 5px;
}